NEXT_PUBLIC_STRIPE_KEY=your_test_publishable_key
STRIPE_SECRET_KEY=your_test_secret_key
NEXT_PUBLIC_SQUARE_APP_ID=your_square_application_id
SQUARE_ACCESS_TOKEN=your_square_access_token
DOORDASH_DEVELOPER_ID=your_doordash_developer_id
DOORDASH_KEY_ID=your_doordash_key_id
DOORDASH_SIGNING_SECRET=your_doordash_signing_secret
EMAIL_API_KEY=your_email_api_key
FCM_SERVER_KEY=your_fcm_server_key
NEXT_PUBLIC_GOOGLE_MAPS_KEY=your_google_maps_api_key
GOOGLE_MAPS_KEY=your_google_maps_api_key
